/*BBunny.less site specific styles for Product Detail*/
#productlayout
{
	position: relative;

	.cross-sell{
		position: absolute;
		right:0;
		width:200px;

		h5{
			text-transform:uppercase;
			.fs(11px);
			line-height:14px;
			margin-bottom:4px;
			border-bottom:2px dotted @baseColor;		
		}
		.row{
			margin:0 0 30px 0;
			padding:0 0 5px 0;
	
			a{
				margin-right:1px;
			}
			/*width:192px;*/
		}
	}



	.product-desc{
		border-bottom:solid 1px @grayLight;
		padding:0 0 12px 0; 
		margin:0 0 12px 0;
		h1,h2,h3,h4,h5,p{
			margin:0;line-height:inherit;
		}
		h2{//set name
			color:@baseColor; 
			.HLight;
			letter-spacing: 1.5px;
			line-height:inherit;
			font-size:16px;
			margin-bottom:8px;
		}
		h3{//product name
			font-size:11px;
			text-transform:uppercase;
			}
		h4{//price
			font-size:10px;
			line-height:12px;
			margin-bottom:15px;}

		p{
			line-height:12px;
			margin-bottom:10px;
		}

		input /*qty input*/
		{ color: @baseColor; 
			height:12px; 
			line-height:12px; 
			text-align:center;
			margin-bottom:5px;
		}

		.jAddToCart{
			margin-right:4px;
		}

		ul {
			margin-left:0; padding-left:0;
			list-style-type: none;
			li{padding-left:10px; 
				background: url(/assets/images/css/bullet.png) left center no-repeat ;
				 }
		}
	}
	
	.product-slct{
		position: relative;
		h5{
			color:@grayDark;
			.HLight;
			font-size:10px;
			line-height:10px; letter-spacing:.5px;
			margin-bottom:4px;
		}
		.sizechart{
			position: absolute;
			bottom:4px; left:80px;
			cursor: pointer;
			color:@gray;
			text-decoration:underline;
		}
		table{
			.sizechart{
				position: static;
			}
			td{
				border:none;
			}
		}
		table th, table td{
			padding:2px 2px 2px;
		}
	}

	#related-items {//any items that come below the main feature product area
		margin-top:50px;

		.spanFull{
			margin-bottom:-8px;
			h2{
				color:@baseColor;
				.HLight;
				.fs(18px);
				text-transform:uppercase;
				line-height:18px;	
			}
		}
		.items{
			.span24;
			float:left; margin-left:@gridGutterWidth;


			.item{
				margin-top:10px; 
				/*padding-bottom:8px;
				border-bottom:solid 1px @grayLight;*/
				position: relative;

				.span18 { width:730px; }//stretch row out to the end of the parent
					.interact{
						position: absolute;
						right:0;
						top:34px;
						.span6;
						.purchase{float:right;}
						.share{
							margin-top:10px;
							float:right;
							color:@baseColor;
						}
					}

			}


		}	
	}

	//some general styling stuff
	.ui-selectmenu {
		margin-bottom:6px;
	}

	.interact-zoom{
		span{margin-right:0px; padding:0 23px 0 0;}
		.zoombtn{cursor: pointer; }
	}

	.thumbs img{
		padding:1px;
		border:solid 1px @gray;
		&.active{
			border:solid 1px @baseColor;
		}
	}
}

#modal-email{
	width:410px;
	color:@grayLight;
	.Helv;
	h2{
		margin:-10px 0 10px 0;
		color:@baseColor;
		.Bondoni;
		.fs(20px);
	}
	h4{
		color:@baseColor;
		.Helv;
		.fs(12px);
		line-height:12px;
		padding: 0px;
		margin:6px 0 6px 0;

	}
}