/*BBunny.less site specific styles for Product Detail*/
.ie8 #productlayout .share .icon-email{top:1px;}
#productlayout
{
	position: relative;

	.cross-sell{
		position: absolute;
		right:0;
		width:200px;

		h5{
			text-transform:uppercase;
			.fs(11px);
			line-height:14px;
			margin-bottom:4px;
		border-bottom:2px solid @baseColor;		
		}
		.row{
			margin:0 0 30px 0;
			padding:0 0 0px 0;
			
			a{
				margin-left:2px;
				border:1px solid @lightBaseColor;
				padding:0;
				position: relative;
				display:inline-block;
				&:first-child{margin:0;}
				.overlay{
					position: absolute; top:0; left:0;
					width:100%; height:80px;

					display:none;
					.canvas{
						width:100%;
						height:100%;
						background-color: @lightBaseColor;
						opacity: 0.7;
						-moz-opacity: 0.7;
						filter:alpha(opacity=7);
						position: absolute;
					}
					.verbiage{
						text-align: center;
						color:white;
						position: relative; top:20px;
						z-index:2;
						.HBold;
						.fs(10px);
						padding:0 5px 0 5px;
						text-transform:uppercase;
					}
				}
			}
		}


	}

	.share{
		color:@baseColor;
		.icon-email{top:-1px;}

	}

	.product-desc{
		border-bottom:solid 1px @grayLight;
		padding:0 0 12px 0; 
		margin:0 0 12px 0;
		float:left;
		h1,h2,h3,h4,h5,p{
			margin:0;line-height:inherit;
		}
		h2{//set name
			color:@baseColor; 
			.HLight;
			letter-spacing: 1.5px;
			line-height:inherit;
			font-size:16px;
			margin-bottom:8px;
		}
		h3{//product name
			font-size:11px;
			text-transform:uppercase;
			}
		h4{//price
			font-size:10px;
			line-height:12px;
			margin-bottom:15px;
		}
		h5{//copied from product-selct can be used in both places - "not available" "selected colors"
			color:@grayDark;
			.HLight;
			font-size:10px;
			line-height:10px; letter-spacing:.5px;
			margin-bottom:4px;
		}
		p,#lblDescription{
			line-height:12px;
			margin-bottom:10px;
		}

		input /*qty input*/
		{ color: @baseColor; 
			height:12px; 
			line-height:12px; 
			text-align:center;
			margin-bottom:5px;
			.fs(9px);
		}
		.ui-selectmenu-status /*size and color select menus*/
		{
			text-align:center;
			color:@baseColor;
		}
		.ui-selectmenu
		{
		li a{padding-right:1em;/*help center the options*/}
		}

		.alt-color
		{
			
			margin-bottom:4px; 
			padding:0;
			&.current
			{
				border:solid 2px @lightBaseColor;
			}
		}
		.js-altcolorbtn
		{
			cursor:pointer;

		}

		.addToCart{
			margin-right:4px;
		}

		ul {
			margin-left:0; padding-left:0;
			list-style-type: none;
			li{padding-left:10px; 
				background: url(/assets/images/css/bullet.png) left center no-repeat ;
				 }
		}

		.input
		{//any inputs like selectboxes or textboxes
			margin-left:0; //just to make sure, some default styling makes mL:150px;
		}
	}
	
	.product-slct{
		position: relative;
		h5{
			color:@grayDark;
			.HLight;
			font-size:10px;
			line-height:10px; letter-spacing:.5px;
			margin-bottom:4px;
		}
		.input{
			margin:0;
		}
		table{
			.sizechart{
				position: static;
			}
			td{
				border:none;
			}
		}
		table th, table td{
			padding:2px 2px 2px;
		}
	}
	.sizechart{
		position: absolute;
		bottom:29px; left:80px;
		cursor: pointer;
		color:@gray;
		text-decoration:underline;
		font-size:10px;
	}
	#related-items {//any items that come below the main feature product area
		margin-top:50px;
		float:left;
		.spanFull{
			width:950px;
			margin-bottom:-8px;
			h2.title{
				color:@baseColor;
				.HLight;
				.fs(18px);
				text-transform:uppercase;
				line-height:18px;	
			}
		}
		.items{
			.span24;
			float:left; margin-left:@gridGutterWidth;


			.item{
				margin-top:10px; 
				margin-left:0;
				/*padding-bottom:8px;
				border-bottom:solid 1px @grayLight;*/
				position: relative;
				.productImageHolder
				{
					margin:0;
					overflow: hidden;
					max-height:260px;
				}
				.productImage
				{
					width:200px;
				}
				.span18 { width:730px; }//stretch row out to the end of the parent
				.interact{
					/*position: absolute;
					right:0;
					top:34px;*/
					float: left;
					.span6;
					.purchase{float:right;}
					.share{
						margin-top:10px;
						float:right;
						color:@baseColor;
					}
				}

			}


		}	
	}

	//some general styling stuff
	.ui-selectmenu {
		margin-bottom:6px;
	}

	.interact-zoom{
		span{margin-right:0px; padding:1px 23px 0 0;}
		.zoombtn{cursor: pointer; }
		p{margin:0;}
	}

	.thumbs img{
		padding:1px;
		border:solid 1px @gray;
		&.active{
			border:solid 1px @baseColor;
		}
	}
	#mainAltViews//alt views under product
	{
		img{
			margin-right:10px;
			margin-bottom:10px;
			width:66px;
			cursor: pointer;
		}
	}
}



#zoomLayout{
	
	.thumbs{
		background-color:white;
		img
		{
			cursor: pointer;
			padding:2px;
			border:1px solid #efefef;
			margin:1px;
			&.active
			{
				border:2px solid @lightBaseColor;
				margin:0;
				&:hover
				{
				border:2px solid @lightBaseColor;
				margin:0;
				}
			}
			&:hover
			{
				border:2px solid #efefef;
				margin:0;
			}
		}
	}
}