/*BBunny.less site specific styles for BB*/

.box{ background-color:@grayLighter; margin:10px 0px;}
.box1{ background-color:@grayLighter;}
.bbunnybox, .bbunnybox-Light{
	text-align:center;
	.HLight;
	color:#fff;
	text-transform:uppercase;
}
.bbunnybox{background-color: @baseColor;}
.bbunnybox-light{background-color: @lightBaseColor; color:@baseColor;}
H1.bbunnybox{padding: 8px 0px 8px 0px; margin-bottom:8px; letter-spacing:2px; .HLight;}

.bbunnybox.btn,.bbunnybox-Light.btn{
	padding:3px 6px; 
	width:95px; height:18px; 
	line-height: 18px;
	letter-spacing: 1px;
	font-size:9px;
	border:solid 1px @baseColor;}
.bbunnybox-Light.btn{
	border:solid 1px @lightBaseColor;
	background-color:@lightBaseColor;
	color:@baseColor;}	
.bbunnybox.btn.white{
	background-color: @white;
	color:@grayDark;
	border:solid 1px @grayLight;
}

.baseColor{ color:@baseColor;}
.lightBaseColor{ color:@lightBaseColor;}
//.Helv{ .Helv; }




//GENERAL 
.content .banner{
	border:solid 1px @grayLight;

}

.shippingbanner{
	text-align:center; 
	.HBold;
	font-size:16px;
	margin:-10px 0 4px;//pull up a bit more than traditional content
	padding:2px;
	.bbunnyborder();
	span{
		.Bondoni
	}
	h2{	.fs(20px); }
}

.share{
	.HBold; .fsize0;  .uppercase;
	vertical-align:top; line-height:17px;
	h4{display:inline-block;}
}

.noticemodal{display: none;}

.assitancelink{width:300px; height:30px; display: block;position: absolute; top:0; left:0;}

#bbsuggest{
	h3{line-height:25px;}
}




//CUSTOMER SERVICE PAGE
#custservlayout{
	position:relative;

	.banner{margin-bottom:10px;}

	h1{
		.HUltra;
		.fs(27px);
		.ls(2px);
		color:@baseColor;
		&.grayDark{
			color:@grayDark;
		}
	}

	h2{
		color:@baseColor;
		border-bottom:solid 4px @lightBaseColor;
		&.subheading{
			.fs(18px);
			line-height:20px;
			margin:16px 0 8px 0;
			.Helv;
		}

		span{ //like a sub heading inside the h2
			.fs(13px);
			.HBold;
			font-style:italic;
		}
	}

	h5{
		.fs(11px);
		color:@baseColor;
		&.subheading{color:@grayDark;}
	}

	h6{
		color:@grayDark;
		.Helv;
		.fs(12px);
		line-height:12px;
		margin-bottom:6px;
	}

	p{
		.fs(13px);
		.Helv;
	}

	.highlight{ text-transform:uppercase; color:@baseColor; .HBold; .fs(14px);}

	.txtbanner{
		background-color:@lightBaseColor;
		color:@baseColor;
		width:100%;
		.fs(12px);
		.ls(1px);
		span{
			padding:6px;
			margin-top:5px;
			.HBold;
			display:block;
			text-align:center;
		}
		margin-bottom:10px;


	}
	.span20 > .txtbanner{ width:785px; }

	.contentbox{
		border:solid 3px #E6E7E8;
		padding:10px;
		margin-top:20px;
		.floatedtitle{
			position:relative;
			top:-26px;left:25px;
		}
	}

	table{
		.leftpink{
			background-color:@lightBaseColor;
			color:@baseColor;
			text-transform:uppercase;
			.HBold;
			.fs(11px);
			width:120px;
			//border:1px solid @lightBaseColor;
		}
		.rightborder{
			
		}
		&.dotted{
			td{

				.bbunnyborderTop(grayLight);
				&.top{.bbunnyborderTop(none);}
				&.first{
					.bbunnyborderTop(none);
				}
				&.leftpink{
					.bbunnyborderTop(none);
				}
			}
		}
		&.custServTable{
			.fs(13px);			
			border:1px solid #DDD;
			td{
				border-left:1px solid #DDD;
				.bbunnyborderTop(grayLight);
				&.top{.bbunnyborderTop(none);}
				&.leftpink{
					.bbunnyborderTop(none);
				}
			}
		}
		ul{margin:0; padding-left:10px;
			li{
				//padding-left:25px;
				margin-left:20px;
			}
		}
	}

	li{
		//margin-left:20px;
	}

}


//SHOPPING BAG / CHECKOUT PAGE
#shopbaglayout,#checkoutlayout{


	position:relative;
	//margin-top:20px;
	h4{
		.fs(12px);
	}
	p{
		.fs(14px); //why so large?
		&.error{
			.Helv;
			.fs(9px);
		}
	}
	.floatedtitle{
		z-index: 2;
		position: absolute;
		top:-14px;
		left:130px;
	}
	h1{
		&.heading{
			.HUltra;
			//font-weight:bold;
			letter-spacing:3px;
			color:@baseColor;
			border-bottom:19px solid @lightBaseColor;
			.fs(27px);
		}
		&.pink{
			.HLight;
			color:@baseColor;
			letter-spacing:3px;
			&.HUltra{
				  font-family:'HelveticaNeueULight';
			}
			&.Helv{
				  font-family:'HelveticaLTStdRoman';
			}
		}
	}
	h2{
		color:@baseColor;
		.HLight;
		margin-bottom:10px;
	}
	h3{
		line-height:20px;
		&.bold{ .HBold; }
	}

	input{
		&.white{ border-color:@grayDark;}
	}

	a.locked{
		cursor:default;
	}

	.address{
		float:left;
		width:240px; height:140px;
		padding: 12px;
		padding-top:0;
		border-right:solid 1px #E6E7E8;
		position: relative;
		h5{
			line-height:16px;
			margin-bottom:16px;
		}
		p{
			.fs(11px);
			line-height:11px;
		}
		&.last{
			border:0;
		}
		h6{
			position: absolute;
			bottom:0;left:12px;
			color:@baseColor;
		 	text-decoration:underline;
		 	.fs(9px);
		}
	}
	.item{
		.fs(10px);
		margin-left:0;
		padding-top:10px;
		.prodImage{
			margin-left:2px;
		}
		&.dotted{
			//border-bottom: dotted 2px #bfbfbf;
			margin-bottom:10px;
			.bbunnyborder(gray);
		}
		.desc{
			position: relative;
			height:160px;
			p{
				.fs(11px);
				//line-spacing(11px);
				line-height:11px;
			
			}
			h3{
				.fs(12px);
				line-height:14px;
			}
			h5{//used instead of h3 for cart overview
				line-height:14px;
				.fs(11px);
			}
			.bottom{
				position: absolute;
				bottom:0; left:0;
				p{margin-bottom:0;}
				h5{margin:0;line-height:16px;}
				h6{/*instock*/ 
					.fs(9px);
					color:@baseColor;
					//line-height:14px;
				}
			}
		}
	}

	.desc-price{
		position: relative;
		height:155px;
		.bottom{
			position: absolute;
			bottom:0; left:0;
			h5{margin:0;line-height:16px;}
			h6{/*instock*/ color:@baseColor;}
		}
	}

	.error-section{
		text-align:center;
		margin-top:80px;margin-bottom:60px;
		padding:30px;
	}

	.billingform{
		
		.row > [class*="span"] {
			
			//margin-left:6px;
		}
		.row > label{margin-left:10px;}
		input{margin-bottom:10px;}
	}

	table{
		.HBold;
		.fs(12.5px);
		margin-bottom:6px;
		thead{
			//.fs(13px);
			color:@baseColor;
		}
		td{
			border:0;
			padding:4px;
			&.rightcol{
				text-align:right;
				padding-right:40px;
				width:180px;
				
			}
			&.midcol{
				width:200px;
			}
			.gray{color:@gray;}
		}

	}

	table.shipopts{ //specifically to style shipping options table
		.bbunnyborderTop(gray);
		tr{
			.bbunnyborder(gray);
			/*&:first-child{
				.bbunnyborderTop(gray);
			}*/
		}
		td{
			//border-bottom:2px dotted @gray;

			padding-top:20px;//padding-bottom:10px;
			.tddiv{
				position: relative;
				padding-left:27px;
			}
		}
		li{
			.fs(13px);
			.Helv;
		}
		.leftpink{
			color:@baseColor;
			.HBold;
			text-transform:uppercase;
			.fs(11px);
			
			label{
				color:@baseColor;
				.HBold;
				text-transform:uppercase;
				.fs(11px);
				padding:0;
			}
			input,.radio{
				margin-right:10px;
				position: absolute;
				left:5px;//top:19px;

			}
		}
	}

	table.floatingcart{
		.fs(11px);
	}
	table.merch{
		.fs(11px);
		margin-bottom:6px;
		span.note{
			.Helv;
			color:@gray;
			width:400px;
			float:left;

		}
	}
	.merch{margin-top:-18px;margin-bottom:6px;}
	.headeritem{
		color:@baseColor;
		.fs(9px);
		.HBold;
		text-transform:uppercase;
		margin-bottom:1px;

	}

	.promocode{
		h5{
			position: relative;
			top:2px;
			.fs(12px);
			margin-right:4px;
		}
		input{
			padding:3px;
			padding-bottom:4px;
		}
		.btn{
			padding:2px;
		}

	}

	form{
		label{
			text-align:left;
			width:inherit;
		}
	}

		.error{
			color:red;
		
		h2{
			color:red;
			.Bondoni;
			.fs(38px);
		}
		p{	
			.fs(9px);
			text-transform:uppercase;
		}
	}

}


	.checkoutbtns{
		margin:20px auto 20px auto;
		.bbunnybox{
			.HBold;
			border:0;
			color:#f8d0e5;
			text-shadow:none;
			background-color:#f498c0;
			float:left; margin-left:4px;
			width:142px;
			&.current{background-color:@baseColor;padding: 3px 8px;}
			&.locked{background-color:#a7a9ac;}

		}
	}
//JUST THE CHECKOUT FORM THAT TAKES MONMEY
#checkout-paymentform{
	h4{
		.fs(14px);
		line-height:16px;
	}
	h5{
		
	}
	h6{
		.fs(12px);
		line-height:12px;
		&.bal{
			
		}
	}
	.checkoutheadings{
		.fs(10px);
	}
	.bal{
		//balance checker font
		text-decoration:underline;
		.HLight;
		.fs(9px);
		margin-bottom:4px;
	}
	label{
		float:inherit;
		line-height:22px;
	}
	}
	label{
		text-align:left;
		.ui-selectmenu{height:20px;
	}
}

//ERROR PAGE
#errorlayout{
	border:solid 1px @grayLight;
	text-align:center;
	position:relative;
	margin-top:150px;margin-bottom:150px;
	&.margin60{margin:60px auto 60px auto;}
	padding:30px;
	h4{
		.fs(12px);
	}
	p{
		.fs(14px)
	}
	.returnlink{
		width:300px; height:60px;
		display: block;
		position: absolute; top:200px; left:260px;

	}
	.floatedtitle{
		z-index: 2;
		position: absolute;
		top:-14px;
		left:130px;
	}
	h2{
		color:@baseColor;
		.HLight
	}
	.message{
		color:@grayDark;
		a{color:@baseColor;}
	}
	.confnum{
		position: absolute;
		top: 170px;
		left: 400px;
		.fs(16px);
		color:@baseColor;
		.HBold;
	}

}

//WHOLESALE FORM APPLICATION APGE
#wholesaleformcontainer
{
	border:solid 5px @gray;
}
//GIFTCARD PAGE
.giftcardsignup{
	margin-top:40px;
	padding-top:30px;
	border:solid 4.5px @grayLight;
	position: relative;
	width:783px;
	margin-left:-2px;
	label{
		display:inline-block;
		color:#231520;
	}
	.fielderror{
		display:inline-block;
		color:red;
		text-transform:uppercase;
	}
	.error{
			color:red;
		
		h2{
			color:red;
			.Bondoni;
			.fs(38px);
		}
		p{	
			.fs(9px);
			text-transform:uppercase;
		}
	}
	.address{
	  margin-left:20px;
	  h5{
	  	line-height:26px;
	  }
		&:first-child{
			margin-left:0;
		}
	  .pink{line-height:14px; color:@baseColor;
		  .fs(11px);
		}
	  p{
	  	.fs(12px);
	  }

	}
	.lettercount{
		display:block;
	}
	.jotheramount{.hide}
	.floatedtitle{
		z-index: 2;
		position: absolute;
		top:-22px;
		left:20px;
	}
	.error{//push this div over just on this page
		margin-left:150px;
	}
}

//LISTING PAGE STYLES
	.pageination,.sort{
		margin-top:4px;
		margin-bottom:8px;
		.fs(9px);
		&.right{
			text-align:right;
			float:right;
		}
	}
	.pageination{		
		float:left; 
		width:300px;

		&.right{
			margin-bottom:-20px; //if pageination has class
		}

	}
	.sort{float:right;
		span{margin-left:14px;}}

.listing{
	width:190px;
	position: relative;
	margin:0px 10px 20px 0px;
	float:left;
	> a > img, > img{ 	width:190px;}
	.notice{
		
		position: absolute; top:220px;left:0;
		width:100%; text-align:center;
		z-index:3;height:21px;

		div{
			background:@baseColor;
			width:100%;height:100%;
			.opacity(84);
			position: absolute; top:0;left:0;
		}
		span{
			color:white;
			.opacity(100);
			position: relative;	
		}
	}

	lh{
		text-transform:uppercase;
		a{ 
			color:@bbunnyBlack; 
			&:hover{color:@baseColor;}
		}
	}
	dl{ 
		width:148px;//to accomidate color swatches
		margin-top:6px;
		font-weight:normal;
		lh,dt,dd{
			font-size:11px;
			line-height:11px;
		}
		.sale{
			color:@baseColor;
			font-weight:bold;
		}
	}
	dd{ margin-top:-2px;
		font-weight:bold;}

	.colors{ float:right;
		list-style:none;
		width:46px;
		position: absolute; top: 248px; right:0;
		text-align:right;
		float:right;
		li{width:20px;display:inline;}
		li img{width:20px;}
	}
}



// HOMEPAGE STYLES
.feat{
	width:257px;
	margin:-2px 7px 10px 0px;
	float:left;
	display:inline;
	position: relative;
	cursor:pointer;
	border:solid 1px @grayLight;
	overflow:hidden;
		img{	}

		h2{
			width:100%;
			position: absolute;
			bottom:60px; left:10px;
			float:left;
			text-transform:uppercase;
			letter-spacing: 2px;
			font-size:18px;
			line-height:20px;
			&.white{color:white;}
			&.pink{color:@baseColor;}
		}
		h4{
			position: absolute;
			margin-top:3px;
			bottom:40px; left:10px;
			float:left;
			width:100%;
			.fs(14px);
			line-height:20px;
			.Bondoni;
			&.white{color:white;}
			&.pink{color:@baseColor;}
		}

}


.kicker6{
	width:125px;
	float:left;
	display:inline-block;
	margin-right:6px;
	img{ border:solid 3px @lightBaseColor; }
}

.kicker7{
	width:100px;
	float:left;
	display:inline-block;
	margin-right:6px;
	img{ border:solid 3px @lightBaseColor; }
}

.banner1{
	.span11{
		margin:0 28px 0 0;
		H2{
			text-transform:none;
			.Helv;
			font-size:22px;
			padding:10px 0 0 10px;
			color:white;
		}
	}
			
	.span3{margin: 6px 0 2px 3px;
		h5{
			.Bondoni;
			line-height:18px;
			text-align:center;
			color:@white;
		}
	}

}
 
.banner2{
	margin:5px 0 0 0;
	img{
		margin-left:2px;
		&:first-child{
			margin:0;
		}
	}
}

.banner3{
	margin-left:0px;

	img{
		width:311px;
		border:solid 1px @lightBaseColor;
		margin-left:5px;
		&:first-child{
			margin:0;
		}
	

	}
}


//LEFTNAV STYLES
#leftnav{

	width:140px;
	margin-right:10px;

	>h2{ .Helv; font-size:16px; padding-left: 6px; }
	>h4{ .Helv; font-size:16px; padding-left: 6px; .fs(18px); line-height:18px; }
	> ul{
	  list-style: none;
	  text-transform:uppercase;
	  margin:0;
	  
		> li{ 
			display:block;
			width:100%;
			float:left;
			> a{ 
				color:@baseColor; 
				.HBold; 
				padding:1px 6px;
				display:block;
				.fs(10px);
				&:hover,&.current{
					text-decoration:none;
					cursor:pointer;
					color:@white;
					background-color: @grayDark;
				}
			}
			&.current > a{

					text-decoration:none;
					cursor:pointer;
					color:@white;
					background-color: @grayDark; 
				
			}
			

		}
		.subcat{display:none;margin:0; width:100%;}
		.open{
			//border-bottom:solid 1px @grayDark;
			.subcat{
				float:left;
				display:block;
				border-top:solid 1px @grayDark;
				border-bottom:solid 1px @grayDark;
			}
		}

		> li > .subcat li { 
			float: left;
			margin:0;
			list-style:none;
			width:100%;
			a {
				cursor: pointer;
				color:@baseColor;
				border-top:solid 1px @grayDark;
				border-bottom:solid 1px @grayDark;
				width:100%;
				float:left;
				text-decoration:none;
				padding-left:2px;
				padding-bottom:0;
				margin-right:8px;
			}

			ul.tertiarycats{
				li a{ 
					
					color:@grayDark;
					border:none;
					width:auto;
					text-decoration:none;
					margin-left:10px;
					font-size:9px;
					float:left;
					padding:0 5px 0 5px;

					&:hover{
						text-decoration:none;
						cursor:pointer;
						color:@white;
						background-color: @grayDark;
					}

				}
				li.active a{
					background-color:@grayDark;
					color:white;
				}				

			}
		}
	}

	DL 
	{	
		width:98px;
		margin-top:30px;
		float:left;
		DD{
		
			position: relative;
			bottom:3px;
			.Bondoni;
			font-size:14px;
		}
	}
}

