/*BBunny.less site specific styles for BB*/

.box{ background-color:@grayLighter; margin:10px 0px;}
.box1{ background-color:@grayLighter;}
.bbunnybox, .bbunnybox-Light{
	text-align:center;
	.HLight;
	color:#fff;
	text-transform:uppercase;
}
.bbunnybox{background-color: @baseColor;}
.bbunnybox-light{background-color: @lightBaseColor; color:@baseColor;}
H1.bbunnybox{padding: 8px 0px 8px 0px; margin-bottom:8px; letter-spacing:2px; .HLight;}

.bbunnybox.btn,.bbunnybox-Light.btn{
	padding:3px 6px; 
	min-width:95px; height:18px; 
	line-height: 18px;
	letter-spacing: 1px;
	font-size:9px;
	border:solid 1px @baseColor;}
.bbunnybox-Light.btn{
	border:solid 1px @lightBaseColor;
	background-color:@lightBaseColor;
	color:@baseColor;}	
.bbunnybox.btn.white{
	background-color: @white;
	color:@grayDark;
	border:solid 1px @grayLight;
}

.baseColor{ color:@baseColor;}
.lightBaseColor{ color:@lightBaseColor;}
//.Helv{ .Helv; }




//GENERAL 

body{
	padding-top:100px;
	&.css-club
	{
		padding-top:90px;
	}
}
/* The white background content wrapper */
.container > .content {
	margin: 10px 0px; /* negative indent the amount of the padding to maintain the grid system */

}
.content .banner{
	border:solid 1px @grayLight;

}
.content > .shippingbanner
{
	margin-top:-20px;/*pull up a bit more than traditional content - this is the usual use case*/
}
.shippingbanner{
	text-align:center; 
	.HBold;
	font-size:16px;
	margin:-10px 0 4px;/*pull up a bit more than traditional content*/
	padding-bottom:2px;//kick the padding down to allow the border to show up
	.bbunnyborder();
	span{
		.Bondoni
	}
	h2{	.fs(20px); }
}

.share{
	.HBold; .fsize0;  .uppercase;
	vertical-align:top; line-height:17px;
	h4{display:inline-block;}
	.icon_email{float:left;position: relative; top:1px;cursor:pointer;}
}

.noticemodal{display: none;}

.assitancelink{width:977px;  display: block;position: absolute; top:0; left:0;}

#bbsuggest{
	h3{line-height:25px;}
}

.jColumn{overflow:hidden;}

.error-section{
	text-align:center;
	margin-top:80px;margin-bottom:60px;
	padding:30px;
}



//ERROR PAGE
#errorlayout{
	border:solid 1px @grayLight;
	text-align:center;
	position:relative;
	margin-top:150px;margin-bottom:150px;
	&.margin60{margin:60px auto 60px auto;}
	padding:30px;
	h4{
		.fs(12px);
	}
	p{
		.fs(14px);
		strong.pink{
			color:@baseColor;
		}
	}
	.returnlink{
		width:300px; height:60px;
		display: block;
		position: absolute; top:200px; left:260px;

	}
	.floatedtitle{
		z-index: 2;
		position: absolute;
		top:-14px;
		left:130px;
	}
	h2{
		color:@baseColor;
		.HLight
	}
	.message{
		color:@grayDark;
		a{color:@baseColor;}
	}
	/*specific page positioning*/
	.confnum{
		position: absolute;
		width:500px;
		top: 170px;
		left: 180px;
		text-align:center;

		.fs(16px);
		color:@baseColor;
		//.HBold;//IE does not display numbers well here
		.Arial.Bold;
	}
	.referfriend{
		position: absolute;
		top: 140px;
		left: 240px;
		.fs(15px);
		width:300px;
		color:@grayDark;
		.pink{
			.fs(15px);
		}
		
	}

}

//WHOLESALE FORM APPLICATION APGE
#wholesaleformcontainer
{
	border:solid 5px @gray;
}




//LISTING PAGE STYLES
.pageination,.sort
{
	margin-top:4px;
	margin-bottom:4px;
	.fs(9px);

	&.right{
		text-align:right;
		float:right;
	}
	a.active
	{
		.HBold;
		color:@grayDark;
	}
}
.pageination{		
	float:left; 
	width:300px;
	&.right{
		margin-bottom:-20px; //if pageination has class
	}

}
.sort
{
	float:right;
	span
	{
		margin-left:14px;

	}
}



// HOMEPAGE STYLES
.feat{
	width:257px;
	margin:-2px 6px 10px 0px;
	float:left;
	display:inline;
	position: relative;
	cursor:pointer;
	border:solid 1px @grayLight;
	overflow:hidden;
		img{	}

		h2{
			width:100%;
			position: absolute;
			bottom:60px; left:10px;
			float:left;
			text-transform:uppercase;
			letter-spacing: 2px;
			font-size:18px;
			line-height:20px;
			&.white{color:white;}
			&.pink{color:@baseColor;}
		}
		h4{
			position: absolute;
			margin-top:3px;
			bottom:40px; left:10px;
			float:left;
			width:100%;
			.fs(14px);
			line-height:20px;
			.Bondoni;
			&.white{color:white;}
			&.pink{color:@baseColor;}
		}

}


.kicker6{
	width:125px;
	float:left;
	display:inline-block;
	margin-right:8px;
	img{ border:solid 3px @lightBaseColor; }
}

.kicker7{

	width:104px;
	float:left;
	display:inline-block;
	margin-right:8px;
	&:first-child{margin-left:4px;}
	a{float:left;}
	img
	{
		width:104px;
		border:solid 2px @lightBaseColor; 
	}
	.name
	{
		color:@grayDark;
		text-align:center;
		width:104px;
		.lh(12px);
		cursor: pointer;
	}

}

.banner1{
	.span11{
		margin:0 28px 0 0;
		H2{
			text-transform:none;
			.Helv;
			font-size:22px;
			padding:10px 0 0 10px;
			color:white;
		}
	}
			
	.span3{margin: 6px 0 2px 3px;
		h5{
			.Bondoni;
			line-height:18px;
			text-align:center;
			color:@white;
		}
	}

}
 
.banner2{
	margin:5px 0 0 0;
	a{
		float: left;
		margin-left:6px;
		&:first-child{
			margin:0;
		}
	}
}

.banner3{
	margin-left:0px;

	a,img{
		float: left;
		width:311px;
		margin-left:7px;
		&:first-child{
			margin:0;
		}


	}

		img
		{
			border:solid 1px @lightBaseColor;
		}
}


.thumb-video
{
	width:202px;
	position: relative;
	float: left;
	cursor: pointer;
	> a //some are wrapped in a tags so they can be clickable
	{
		float: left;
	}
	.thumb-img{
		width:202px;
		height:136px;
		float:left;
		margin-bottom:2px;
		background-repeat:no-repeat;
		background-position:center center;
	}
	.playbtn
	{
		position: absolute;
		top:40px; left:92px;
		width:27px; height:54px;
		background:transparent url('/assets/images/css/video-playbtnpink.png') no-repeat;
	}
	.subheading{
		.Helv;
		.fs(12px);
		.lh(15px);
		margin:2px 0 0 0 !important;
	}
}



//RIGHTCOL STYLES
#rightcol{
	.title{
		float:left;
		width:100%;
		position: relative;
		.bbunnyborder();
		margin-bottom:20px;
		h3
		{
			.HLight;
			.lh(16px);
			letter-spacing:1px;
			padding-bottom:4px;
			.bold
			{
				.Helv;
			}
		}
		.subheading{
			position: absolute;
			bottom:-20px;
			left:0px;
		}
	}
	.connectlink
	{
		padding-bottom:4px;
		width:270px;//just a test to see if this will work, some connectlinks are wrapping

		& :first-child
		{
			margin-top:10px;
		}

		a{
			.Helv;
			.fs(16px);
			color:@lightBaseColor;
			&:hover
			{
				color:lighten(@lightBaseColor,10%);
			}
		}

		.icon-twitterlarge
		{
			margin-right:2px;
		}



	}
	.mini-feature //primarily used on club pages
	{
		position: relative;
		float: left;
		width:100%;
		margin-bottom:14px;
		.feature-img{
			display:block;
			width:70px;
			height:50px;
			margin-bottom:0px;
			overflow:hidden;
			position: relative;//just to fix a problem in IE7
			img
			{
				max-width:110px;
				max-height:90px;
				min-width:70px;
				min-height:50px;
				position: relative;
			}
		}
		.desc
		{
			position: absolute;
			top:13px;
			left:75px;
			height:28px;
			overflow: hidden;
			.fs(14px);.lh(14px);
			color:@lightBaseColor;
			.Helv;
			.ls(1px);
			.bold{
				.HBold;
			}
		}
	}

	.thumb3up //any area where 3 thumbnails shoudl fit 
	{
		float:left;
		width:66px;height:66px;
		overflow: hidden;
		margin:0 4px 4px 0;
		img
		{
			min-width:66px;
			min-height:66px;
			max-width:80px;
			max-height:90px;
		}
	}
	
	.fav-suit
	{
		position: relative;
		float: left;
		width:100%;
		margin-bottom:16px;
		img
		{
			width:90px;
		}
		span
		{
			position: absolute;
			top:30px;
			left:100px;
			.fs(14px);
			color:@lightBaseColor;
			.Helv;
		}
	}
	.thumb-video
	{
		margin-top:10px;margin-bottom:20px;
	}
	.thumb-latestPic
	{
		width:66px;
		height:55px;
		float:left;
		overflow: hidden;
		position: relative;

		img{
			max-height:120px;
			max-width:110px;
			position: absolute;
		}
		span{
			float:left;
			width:66px;
			height:55px;
			//background-position: center center;
			background-repeat: no-repeat;

			-webkit-background-size: cover;
		    -moz-background-size: cover;
		    -o-background-size: cover;
		    background-size: cover;

		}

	}
}
