#herolayout{
  min-height:555px;
  #scrollableHomepage{
    position: absolute;
    left:0;
  }
  #scrollableCampaign{
    #page
    {
      .slide
      {
        height:553px;
        overflow: hidden;
        img
        {
          width:960px;
        }
      }
    }
  }
  #leftnav{
    position: absolute;
    top:8px;
    left:10px;
    &.black{
      background-color:#000000;
      padding: 6px 0px 6px 6px;
      top:0px;
      width:146px;
      li {
        color: @baseColor;
        padding-left:8px;
        &.current a//li with current , inside black (used in modelsearch)
        {
            background-color:@baseColor;
            color:white;
        }
        a{
          width:135px;
          &.active{
            background-color:@baseColor;
            color:#fff;
          }
        }

      }
    }
    h4{color:white;}
    a.title{
      font-weight:bold;
    }
    > ul{padding-top:4px;}
    li a:hover{ background-color:@baseColor; }
    > ul > li > .subcat li a{
      border-color:white;
    }
    > ul .open .subcat{
    
      border-top:solid 1px white;
      border-color:white;
    }
    > ul > li > .subcat li ul.tertiarycats li a {
      color:white;
      &:hover{background-color:none;}
      &.title{
        font-weight:bold;
      }
    }
  }
  #campaignGalleryNav{
    display:none;
    /*position: relative;
    top:545px;*/
    .row{margin-left:0px;}
    #row1{
      border-bottom:solid 1px @grayDark;
      position: relative;
      .returnBtn{float:left;cursor: pointer;position: absolute;left:3px;top:4px;}
    }
    .slideNav //may not be needed - might be and old construct used durning comp build
    {
      float:left;
      list-style-type:none;
      display:inline-block;
      margin:0 0 0 380px;
      .fs(12px);
      li{
        float:left;
        margin-right:10px;
      }
    }
    .pageination
    {
      position: relative;
      left:50%;//start with this - javascipt will catch from here
      top:0;
      margin:-2px 0 6px 50px;
      float:left;
      width:800px;
      text-align:center;
      height:20px;
      overflow: hidden;
      //max-width:600px;
    }
    #row2{
      padding:0px;
      margin:0 auto;
      float:left;

      .center{
        
      }

      h3.modelName
      {
        .HUltra;
        display:inline-block;
        float:left;
        text-transform:uppercase;
        .fs(22px);
        .ls(1px);
      }
      .productList{
        float:left;
        width:460px;
        text-align:center;
        display:inline-block;
        list-style-type:none;
        display:inline-block;
        margin:6px 0px 0 30px;
        float:left;
        .fs(11px);
        li{
          margin-right:14px;
          font-weight:bold;
          display: inline-block;
        }
      }
      .shopThisBtn{
        float: right;
        margin-top:6px;
        position: absolute;
        right:0px;
        top:0px;
        a{
            
            color:@grayDark;
        }

      }
      span{
        float:left;
      }
    }
  }
}

  
.hero-unit {

  padding: 120px 0 0 30px;
  position: relative;
  z-index: 6;
  height:280px;

  #hero-blurb{
    /*position: absolute;
    top:30px;*/
    padding-left:90px;
  }

  h4{
    .HLight; 
    line-height:18px;}

  h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseline * 1.5;
  }
}
#loadingIndicator
{
  position: relative;
  left:250px;
  //background: #EEE;
  height: 300px;
  width: 300px;
}



#campaign-hero {


  z-index: 6;




  h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseline * 1.5;
  }


  #hero-blurb{
    position: absolute;

    left:200px;
    top:100px;
  }

}


.hero-modelsearch {


  z-index: 6;


  #hero-blurb{ /*same as hero-blurb for hero-campaign*/
    position: absolute;

    left:200px;
    top:100px;
  }
  #hero-center{ /*center content in 960 px width slide*/
    position: absolute;

    left:250px;
    top:100px;
  }
  #hero-title{ /*modelsearch title for semi finalist*/
    position: absolute;

    left:220px;
    top:10px;
  }  
  #hero-polaroid{ /*modelsearch content with poloaroids - semifinalist page*/
    position: absolute;

    left:220px;
    top:160px;
  }

  h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseline * 1.5;
  }
}