/*p_custserv.less site specific styles for customer service pages*/

//CUSTOMER SERVICE PAGE
#custservlayout{
	position:relative;
	min-height:500px;
	.banner{margin-bottom:10px;}

	h1{
		.HUltra;
		.fs(27px);
		.ls(2px);
		color:@baseColor;
		&.grayDark{
			color:@grayDark;
		}
	}
	h1{
		&.heading{
			.HUltra;
			//font-weight:bold;
			letter-spacing:3px;
			color:@baseColor;
			border-bottom:19px solid @lightBaseColor;
			.fs(27px);
		}
		&.pink{
			.HLight;
			color:@baseColor;
			letter-spacing:2px;
			margin-bottom:10px;
			&.HUltra{
				  font-family:'HelveticaNeueULight';
			}
			&.Helv{
				  font-family:'HelveticaLTStdRoman';
			}
		}
	}
	h2{
		color:@baseColor;
		border-bottom:solid 4px @lightBaseColor;

		&.subheading{
			.fs(18px);
			line-height:20px;
			margin:16px 0 8px 0;
			.Helv;
		}
		&.heading
		{
			color:@grayDark;
			font-family:'HelveticaNeueULight';
			

		}

		span{ //like a sub heading inside the h2
			.fs(13px);
			.HBold;
			font-style:italic;
			&.small{
				font-style:normal;
				color:@grayDark;
				padding-left:10px;
			}
		}
	}

	h5{
		.fs(11px);
		color:@baseColor;
		&.subheading{color:@grayDark;}
	}

	h6{
		color:@grayDark;
		.Helv;
		.fs(12px);
		line-height:12px;
		margin-bottom:6px;
	}

	p{
		.fs(13px);
		.Helv;
		&.fsize0{.fs(10px);}
		&.fsize1{.fs(11px);}
		&.fsize2{.fs(12px);}
		&.bold{.HBold;}
		&.italic{.Bondoni;}
	}



	.highlight{ text-transform:uppercase; color:@baseColor; .HBold; .fs(14px);}

	.txtbanner{
		background-color:@lightBaseColor;
		color:@baseColor;
		width:100%;
		.fs(12px);
		.ls(1px);
		span{
			padding:6px;
			margin-top:5px;
			.HBold;
			display:block;
			text-align:center;
		}
		margin-bottom:10px;


	}

	.interview
	{ //first used in modelsearch for there interverew paradigm
		h4{
			.fs(13px);.lh(16px);
			color:@baseColor;
		}
		p{
			//.fs(11px);
		}
	}
	.span20 > .txtbanner{ width:785px; }

	.contentbox{
		border:solid 3px #E6E7E8;
		padding:10px;
		margin-top:20px;
		.floatedtitle{
			position:relative;
			top:-26px;left:25px;
		}
	}

	.pageInstructions{
		.fsize2;
	}

	.error{
			color:red;
		
		h2{
			color:red;
			.Bondoni;
			.fs(38px);
			border-bottom:none;
		}
		p{	
			.fs(9px);
			text-transform:uppercase;
		}
		&.field{.fs(10);}
	}

	.headeritem{
		color:@baseColor;
		.fs(9px);
		.HBold;
		text-transform:uppercase;
		margin-bottom:1px;

	}

	.file-input{
		margin-bottom:10px;
		position: relative;
		img{
			position: relative;
			left:inherit;
			top:8px;
			padding-bottom:1px;
		}
	}

	table{
		.leftpink{
			background-color:@lightBaseColor;
			color:@baseColor;
			text-transform:uppercase;
			.HBold;
			.fs(11px);
			width:120px;
			//border:1px solid @lightBaseColor;
		}
		.rightborder{
			
		}
		&.dotted{
			td{

				.bbunnyborderTop(grayLight);
				&.top{.bbunnyborderTop(none);}
				&.first{
					.bbunnyborderTop(none);
				}
				&.leftpink{
					.bbunnyborderTop(none);
				}
			}
		}
		&.custServTable{
			.fs(13px);			
			border:1px solid #DDD;
			td{
				border-left:1px solid #DDD;
				.bbunnyborderTop(grayLight);
				&.top{.bbunnyborderTop(none);}
				&.leftpink{
					.bbunnyborderTop(none);
				}
			}
		}
		&.accountTable{
			width:560px;
			address{line-height:14px; margin-bottom:auto;}
			.num{
				width:10px;
			}
			.card,.address,.status{
				width:140px;
			}
			p{.fsize1;}
			label
			{
				width:auto;
				padding-top:3px;
			}
			tr{border-bottom:solid 1px #666;}
		}
		ul{margin:0; padding-left:10px;
			li{
				//padding-left:25px;
				margin-left:20px;
			}
		}
		&.shipopts{
			label{
				width:90px;
				padding: 2px 0 0 4px;
				display: inline;
				text-transform:uppercase;
			}
			td{
				padding-left:0;
				padding-right:0;
				&.left{
					width:120px;
					float:left;
				}
			}
			tr{
				border-bottom:solid 1px @grayLight;
			}
		}

	}

	li{
		//margin-left:20px;
	}

	//Options for diffrent Address
	.address-option{
		label{ padding-top:3px;}
		.fsize0;
		address{
			padding-left:20px;
		}
	}

	.favsuit{
		position: relative;
		.favlabel
		{
			position: absolute;
			bottom:30px;
			left:0px;
		}
		h2{
			border:none;
			.fs(11px);
			line-height:12px;
			padding-top:6px;
		}
		p{
			.fs(10px);

		}

	}

	/*----------------------------------------------------------------------------------------------------------------------*/
	/*features*/



	// Credit Card Entry
	.ccardentry{
		margin-bottom:10px;
		label{width:auto; padding-top:3px;}
		.row{margin-top:2px;margin-left:0;}
		//.ui-selectmenu{margin-left:10px;}

	}
	
	//Locator Page
	.StoreGrid{
		.location{
			margin-top:40px;
			margin-right:98px;
			.fsize2;
			float:left;
			//width:260px;
			width:197px;

			h6
			{
				.fsize4;
				color:black;
				margin-bottom:2px;
				.HBold;
			}
			address{
				.lh(14px);
				color:gray;
				.Helv;
			}
		}
	}

	// Store Page
	.store{
		width:254px;
		margin:-2px 7px 10px 0px;
		float:left;
		display:inline;
		position: relative;
		height:380px;
		.fsize0;
		overflow:hidden;
		color:gray;
		background:transparent url('/assets/images/css/background-storepolaroid.jpg') no-repeat left top ;
			img{	
				cursor:pointer;
				position: relative; top:10px; left:12px;
			}
			.info{
				position: absolute; bottom:10px; left:15px;
			}
			p{.fsize0;}

			h2{
				width:100%;
				position: absolute;
				top:155px; left:20px;
				float:left;
				text-transform:uppercase;
				letter-spacing: 2px;
				font-size:13px;
				line-height:20px;
				.HLight;
				border-bottom:0;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}
			h4{
				position: absolute;
				margin-top:3px;
				bottom:40px; left:10px;
				float:left;
				width:100%;
				.fs(14px);
				line-height:20px;
				.Bondoni;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}
			address{
				text-transform:uppercase;
				margin-bottom:8px;
			}
			td{padding:2px; line-height:10px;}

	}

	// Press Page

	.press{
		width:257px;
		margin:-2px 9px 20px 0px;
		float:left;
		display:inline;
		position: relative;
		height:220px;
		.fsize0;
		overflow:hidden;
		color:gray;
		background:transparent url('/assets/images/css/background-presspolaroid.jpg') no-repeat left top ;
			img{	
				cursor:pointer;
				position: relative; top:10px; left:16px;
			}
	

			h2{
				width:240px;
				position: absolute;
				bottom:35px; left:20px;
				float:left;
				text-transform:uppercase;
				letter-spacing: 2px;
				font-size:13px;
				line-height:20px;
	
				.HLight;
				color: #333;
				border-bottom:0;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}
			h4{
				position: absolute;
				margin-top:3px;
				bottom:20px; left:20px;
				float:left;
				width:240px;
				.fs(12px);
				line-height:20px;
			
				.Bondoni;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}


	}
	// Semi-Finalist Page

	.finalist{
		width:256px;
		margin:-2px 4px 20px 0px;
		float:left;
		display:inline;
		position: relative;
		height:340px;
		.fsize0;
		overflow:hidden;
		color:gray;
		background:transparent url('/assets/images/css/polaroids-modelsearch_listing.png') no-repeat left top ;
		&:hover{background-image:url('/assets/images/css/polaroids-modelsearch_listing-pink.png');}
		&.current{ background:transparent url('/assets/images/css/polaroids-modelsearch_listing-pink.png') no-repeat left top ; }
			img{	
				cursor:pointer;
				position: relative; top:13px; left:14px;
			}
	

			h2{
				width:240px;
				position: absolute;
				bottom:40px; left:10px;
				float:left;
				text-transform:uppercase;
				letter-spacing: 2px;
				font-size:20px;
				line-height:20px;
				text-align:center;
				.HUltra;
				color: #333;
				border-bottom:0;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}
			h4{
				position: absolute;
				margin-top:3px;
				bottom:4px; left:20px;
				float:left;
				width:240px;
				.fs(16px);
				.ls(1px);
				line-height:20px;
				text-align:center;
				.HBold;
				.icon-triangle{
					position: relative;
					top:-2px;
				}
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}


	}
	.month{
		float:left;
		width:100%;
		margin-top:20px;
		.bbunnyborder();
		background-position:0% -10%;
		text-align:center;
		> first{
			margin-top:5px;
		}
		h2{
			.HUltra;
			letter-spacing:2px;
			margin-top:-20px;
			background-color:#fff;
			width:130px;
			position: relative;
			left:330px;
			top:0px;
			color:@grayDark;
			border:0;
			text-align:center;

		}
		&.current
		{
			.bbunnyborder(none);
			border-top:3px solid @lightBaseColor;
		}
	}


	//Thumb Gallery
	.thumb-gallery{
		border:solid @lightBaseColor 1px;
			position:relative;
			overflow:hidden;
			padding:14px;
			height:100px;
		.mask{
			width:685px;
			height:100%;	
			overflow: hidden;
			float: left;
			position: relative;	
			left:30px;
		}
		.thumbs{
			/* this cannot be too large */
			width:20000em;
			position:absolute;
		}
		.thumbs img{
				float: left;
				margin-right:20px;
				&.current{border:2px @lightBaseColor solid;}
		}
		.btn-scroll{
			width:20px;
			height:30px;
			position: absolute;
			top:35px;
			&.jprev{left:10px; cursor: pointer;background: url('/assets/images/css/btn-arrowleft.png') no-repeat;}
			&.jnext{right:10px; cursor: pointer;background: url('/assets/images/css/btn-arrowright.png') no-repeat;}
		}
	}

	.videoList{
		.heading
		{
			.fs(18px);
			.ls(1px);.lh(24px);
			padding-bottom:4px;
			margin:6px 0 20px 0;
			border-bottom:6px solid @lightBaseColor;
			span.bold{ .fs(18px); font-style:normal; .Helv;}
		}
		article.video
		{
			.bbunnyborder(baseColor);
			padding-bottom:2px;
			margin-bottom:20px;
			width:790px;
			&:last-child
			{
				.bbunnyborder(none);
				margin-bottom:0;
				h1.bbunnybox-light {margin:0;}
			}
			.desc{
				position: relative;
				padding-top:10px;
				.Helv;
				h3
				{
					.ls(1px);.lh(20px);
					.HLight;
					.fs(20px);
					&.subheading
					{

						.fsize4;
						.ls(0px);
						color:@baseColor;
					}
				}
				p
				{
					width:90%;
					padding-top:6px;
					.lh(20px);
					.HLight;
				}
				.share
				{
					position: absolute;
					right:0;
					top:10px;
				}	
			}

		}
	}

	//Wishlist
	#wishlistcontainer{
		.item{
			.fs(10px);
			margin-left:0;
			padding-top:10px;
			//.bbunnyborder(gray)
			.prodImage{
				margin-left:2px;
			}
			&.dotted{
				//border-bottom: dotted 2px #bfbfbf;
				margin-bottom:10px;
				.bbunnyborder(grayLight);
			}
			.desc{
				position: relative;
				height:160px;
				p{
					.fs(11px);
					//line-spacing(11px);
					line-height:11px;
				
				}
				h3{
					.fs(12px);
					line-height:14px;
				}
				h5{//used instead of h3 for cart overview
					line-height:14px;
					.fs(11px);
				}
				.bottom{
					position: absolute;
					bottom:6px; left:560px;
					width:110px;
					.btn{
						margin-bottom:6px;
					}
					p{margin-bottom:0;}
					h5{margin:0;line-height:16px;}
					h6{/*instock*/ 
						.fs(9px);
						color:@baseColor;
						//line-height:14px;
					}
				}
			}
			.desc-price{
				position: relative;
				.bottom{
					position: absolute;
					top:100px;
					left:0;
				}
			}
		}
	}
		//Wishlist
	#ordhistorycontainer{
		.pageInstructions{
			margin:12px 0 20px 0;
			p{.fs(11px);.Helv;.lh(12px);margin-bottom:2px;letter-spacing:1px;}
			h5{.fsize1;.HBold;.lh(12px);color:@grayDark;letter-spacing:1px;}
		}
		.pageControls{
			width:242px;
			position: relative;
			margin:10px 0 6px 0;
			p{.fs(10px);.Helv;.lh(12px);margin-bottom:2px;}
			h5{.fsize1;.HBold;.lh(12px);}
			.btn
			{
				
				position: absolute;
				right:0px;bottom:1px;	
			}
		}
		.order{

			width:784px;
			margin:0 0 40px 0;
			padding:10px 0;

			border:solid 1px @grayLight;
			position: relative;

			p{
				.fs(11px);
				.HBold;
				color:#ccc;
			}


			.ordSummary{
				
				height:100%;
				float:left;
				p{.lh(11px);margin-bottom:5px;}
				p.strong{color:@grayDark;}

			}
			.bottom{
				position: absolute;
				bottom:12px; left:10px;
				
			}
			.itemlist{
				.ordImage
				{
					img{width:90px;}
				}
				.desc{
				
					height:140px;
					h3{
						.fs(11px);
						.lh(11px);
						padding-bottom:20px;
					}
					p{
						.fs(10px);
						.HBold;
						color:@grayDark;
						line-height:11px;
						padding-bottom:16px;
					}


				}

			}

		}
	}	
}

