/*p_custserv.less site specific styles for customer service pages*/

//CUSTOMER SERVICE PAGE
#custservlayout{
	position:relative;
	min-height:500px;
	.banner{margin-bottom:10px;}

	h1{
		.HUltra;
		.fs(27px);
		.ls(2px);
		color:@baseColor;
		&.grayDark{
			color:@grayDark;
		}
	}
	h1{
		&.heading{
			.HUltra;
			//font-weight:bold;
			letter-spacing:3px;
			color:@baseColor;
			border-bottom:19px solid @lightBaseColor;
			.fs(27px);
		}
		&.pink{
			.HLight;
			color:@baseColor;
			letter-spacing:2px;
			margin-bottom:10px;
			&.HUltra{
				  font-family:'HelveticaNeueULight';
			}
			&.Helv{
				  font-family:'HelveticaLTStdRoman';
			}
		}
	}
	h2{
		color:@baseColor;
		border-bottom:solid 4px @lightBaseColor;

		&.subheading{
			.fs(18px);
			line-height:20px;
			margin:16px 0 8px 0;
			.Helv;
		}

		span{ //like a sub heading inside the h2
			.fs(13px);
			.HBold;
			font-style:italic;
			&.small{
				font-style:normal;
				color:@grayDark;
				padding-left:10px;
			}
		}
	}

	h5{
		.fs(11px);
		color:@baseColor;
		&.subheading{color:@grayDark;}
	}

	h6{
		color:@grayDark;
		.Helv;
		.fs(12px);
		line-height:12px;
		margin-bottom:6px;
	}

	p{
		.fs(13px);
		.Helv;
		&.fsize0{.fs(10px);}
		&.fsize1{.fs(11px);}
		&.fsize2{.fs(12px);}
		//&.HBold{.HBold;}
	}



	.highlight{ text-transform:uppercase; color:@baseColor; .HBold; .fs(14px);}

	.txtbanner{
		background-color:@lightBaseColor;
		color:@baseColor;
		width:100%;
		.fs(12px);
		.ls(1px);
		span{
			padding:6px;
			margin-top:5px;
			.HBold;
			display:block;
			text-align:center;
		}
		margin-bottom:10px;


	}
	.span20 > .txtbanner{ width:785px; }

	.contentbox{
		border:solid 3px #E6E7E8;
		padding:10px;
		margin-top:20px;
		.floatedtitle{
			position:relative;
			top:-26px;left:25px;
		}
	}

	.pageInstructions{
		.fsize2;
	}

	.error{
			color:red;
		
		h2{
			color:red;
			.Bondoni;
			.fs(38px);
			border-bottom:none;
		}
		p{	
			.fs(9px);
			text-transform:uppercase;
		}
	}

	.headeritem{
		color:@baseColor;
		.fs(9px);
		.HBold;
		text-transform:uppercase;
		margin-bottom:1px;

	}

	table{
		.leftpink{
			background-color:@lightBaseColor;
			color:@baseColor;
			text-transform:uppercase;
			.HBold;
			.fs(11px);
			width:120px;
			//border:1px solid @lightBaseColor;
		}
		.rightborder{
			
		}
		&.dotted{
			td{

				.bbunnyborderTop(grayLight);
				&.top{.bbunnyborderTop(none);}
				&.first{
					.bbunnyborderTop(none);
				}
				&.leftpink{
					.bbunnyborderTop(none);
				}
			}
		}
		&.custServTable{
			.fs(13px);			
			border:1px solid #DDD;
			td{
				border-left:1px solid #DDD;
				.bbunnyborderTop(grayLight);
				&.top{.bbunnyborderTop(none);}
				&.leftpink{
					.bbunnyborderTop(none);
				}
			}
		}
		&.accountTable{
			width:560px;
			address{line-height:14px; margin-bottom:auto;}
			.num{
				width:10px;
			}
			.card,.address,.status{
				width:140px;
			}
			p{.fsize1;}
			label
			{
				width:auto;
				padding-top:3px;
			}
			tr{border-bottom:solid 1px #666;}
		}
		ul{margin:0; padding-left:10px;
			li{
				//padding-left:25px;
				margin-left:20px;
			}
		}
		&.shipopts{
			label{
				width:90px;
				padding: 2px 0 0 4px;
				display: inline;
				text-transform:uppercase;
			}
			td{
				padding-left:0;
				padding-right:0;
				&.left{
					width:120px;
					float:left;
				}
			}
			tr{
				border-bottom:solid 1px @grayLight;
			}
		}

	}

	li{
		//margin-left:20px;
	}

	//Options for diffrent Address
	.address-option{
		label{ padding-top:3px;}
		.fsize0;
		address{
			padding-left:20px;
		}
	}



	/*----------------------------------------------------------------------------------------------------------------------*/
	/*features*/



	// Credit Card Entry
	.ccardentry{
		label{width:auto; padding-top:3px;}
		.row{margin-top:2px;}

	}
	
	//Locator Page
	.StoreGrid{
		.location{
			margin-top:40px;
			margin-right:98px;
			.fsize2;
			float:left;
			//width:260px;
			width:197px;

			h6
			{
				.fsize4;
				color:black;
				margin-bottom:2px;
				.HBold;
			}
			address{
				.lh(14px);
				color:gray;
				.Helv;
			}
		}
	}

	// Store Page
	.store{
		width:254px;
		margin:-2px 7px 10px 0px;
		float:left;
		display:inline;
		position: relative;
		height:380px;
		.fsize0;
		overflow:hidden;
		color:gray;
		background:transparent url('/assets/images/css/background-storepolaroid.jpg') no-repeat left top ;
			img{	
				cursor:pointer;
				position: relative; top:10px; left:12px;
			}
			.info{
				position: absolute; bottom:10px; left:15px;
			}
			p{.fsize0;}

			h2{
				width:100%;
				position: absolute;
				top:155px; left:20px;
				float:left;
				text-transform:uppercase;
				letter-spacing: 2px;
				font-size:13px;
				line-height:20px;
				.HLight;
				border-bottom:0;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}
			h4{
				position: absolute;
				margin-top:3px;
				bottom:40px; left:10px;
				float:left;
				width:100%;
				.fs(14px);
				line-height:20px;
				.Bondoni;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}
			address{
				text-transform:uppercase;
				margin-bottom:8px;
			}
			td{padding:2px; line-height:10px;}

	}

	// Press Page
	.press{
		width:254px;
		margin:-2px 7px 10px 0px;
		float:left;
		display:inline;
		position: relative;
		height:230px;
		.fsize0;
		overflow:hidden;
		color:gray;
		background:transparent url('/assets/images/css/background-presspolaroid.jpg') no-repeat left top ;
			img{	
				cursor:pointer;
				position: relative; top:10px; left:16px;
			}
	

			h2{
				width:100%;
				position: absolute;
				top:155px; left:20px;
				float:left;
				text-transform:uppercase;
				letter-spacing: 2px;
				font-size:13px;
				line-height:20px;
				.HLight;
				color: #333;
				border-bottom:0;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}
			h4{
				position: absolute;
				margin-top:3px;
				bottom:36px; left:20px;
				float:left;
				width:100%;
				.fs(14px);
				line-height:20px;
				.Bondoni;
				&.white{color:white;}
				&.pink{color:@baseColor;}
			}


	}


	//Thumb Gallery
	.thumb-gallery{
		border:solid @grayLight 1px;
			position:relative;
			overflow:hidden;
			padding:14px;
			height:100px;
		.thumbs{
			/* this cannot be too large */
			width:20000em;
			position:absolute;
		}
		.thumbs img{
				float: left;
				margin-right:20px;
		}
	}

	//Wishlist
	#wishlistcontainer{
		.item{
			.fs(10px);
			margin-left:0;
			padding-top:10px;
			//.bbunnyborder(gray)
			.prodImage{
				margin-left:2px;
			}
			&.dotted{
				//border-bottom: dotted 2px #bfbfbf;
				margin-bottom:10px;
				.bbunnyborder(grayLight);
			}
			.desc{
				position: relative;
				height:160px;
				p{
					.fs(11px);
					//line-spacing(11px);
					line-height:11px;
				
				}
				h3{
					.fs(12px);
					line-height:14px;
				}
				h5{//used instead of h3 for cart overview
					line-height:14px;
					.fs(11px);
				}
				.bottom{
					position: absolute;
					bottom:0; left:560px;
					width:110px;
					.btn{
						margin-bottom:16px;
					}
					p{margin-bottom:0;}
					h5{margin:0;line-height:16px;}
					h6{/*instock*/ 
						.fs(9px);
						color:@baseColor;
						//line-height:14px;
					}
				}
			}
			.desc-price{
				position: relative;
				.bottom{
					position: absolute;
					top:100px;
					left:0;
				}
			}
		}
	}
		
}
