#listinglayout
{
	.error-section{
		margin-top:0px; //override
		text-align:left;//override
		margin-bottom:160px;
		padding:0 0 0 10px;

		h1
		{
			color:@baseColor;
			font-style: italic;
			letter-spacing:1px;
			.fs(22px);
		}
	}

}