/*scrollerGallery*/
//describes global styles for all scrollable gallaries

.galleryDisplay
{
	height:630px;
	overflow: hidden;
	#imgMain
	{
		//width:100%; //always stay within width defined on .galleryDisplay 
	}
	#mainStageImage
	{
		width:auto; height:auto;
	}

}

.galleryshare
{
  margin-top:5px;
  margin-bottom:5px;

  .quickshopHolder
  {
  	float:left;
  	width:123px;
  	height:100%;
  	a{display:inline-block;}
  }
}

//Thumb Gallery
.thumb-gallery{
	border:solid @lightBaseColor 1px;
	position:relative;
	overflow:hidden;
	padding:14px;
	height:100px;
	.mask
	{
		width:690px;
		height:100%;	
		overflow: hidden;
		float: left;
		position: relative;	
		left:30px;
	}
	.thumbs
	{
		/* this cannot be too large */
		width:20000em;
		position:absolute;
		> div
		{
			float:left;
			width:103px;
			height:80px;
			margin-right:14px;
			overflow:hidden;
			/*border:2px @lightBaseColor solid;*/
			&.current{
				border:2px @lightBaseColor solid;
				height:76px;
			}
			img
			{
				float: left;
				cursor: pointer;
				max-width:120px;
				max-height:160px;
				min-width:103px;
				min-height:80px;
				
			}
		}
	}
	.btn-scroll{
		width:20px;
		height:30px;
		position: absolute;
		top:35px;
		&.disabled {
		visibility:hidden !important;		
		} 	
		&.js-prev{left:10px; cursor: pointer;background: url('/assets/images/css/btn-arrowleft.png') no-repeat;}
		&.js-next{right:10px; cursor: pointer;background: url('/assets/images/css/btn-arrowright.png') no-repeat;}
	}
}